body {
    background-color: black;
}

@font-face {
    font-family: main-font;
    src: url(undertaleFonts/8bitOperatorPlus-Regular.woff) format("opentype");
}

@font-face {
    font-family: bold-font;
    src: url(undertaleFonts/8bitOperatorPlus-Bold.woff) format("opentype");
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    font-family: bold-font;
    text-align: center;
    margin: auto;
    width: 30%;
}

h1, h2 {
    color: yellow;
}

h3 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
    font-family: main-font;
    margin: auto;
    width: 30%;
}

footer p {
    width: 50%;
}

strong {
    color: orange;
    font-family: bold-font;
}

a:link {
    color: yellow;
    text-decoration: none;
}

a:hover {
   color: yellow; 
   text-decoration: underline;
}

a:visited {
    color: yellow;
}

#featuredEnemies {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

footer {
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    p {
        width: 65%;
    }
}

@media only screen and (max-width: 600px) {
    p {
        width: 90%;
    }
}
