html {
    cursor: url("images/soul.png"), auto;
}

body {
    background-color: black;
}

@font-face {
    font-family: main-font;
    src: url(fonts/8bitOperatorPlus-Regular.woff) format("opentype");
}

@font-face {
    font-family: bold-font;
    src: url(fonts/8bitOperatorPlus-Bold.woff) format("opentype");
}

article {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: calc(600px - 2rem);
}

h1, h2, h3 {
    font-family: bold-font;
    text-align: center;
    margin: auto;
}

h1, h2 {
    color: yellow;
}

h1 {
    font-size: 2em;
}

h3 {
    color: white;
}

p {
    color: white;
    font-family: main-font;
    margin: auto;
}

strong {
    color: orange;
    font-family: bold-font;
}

a:link {
    color: yellow;
    text-decoration: none;
}

a:hover {
   color: yellow; 
   text-decoration: underline;
}

a:visited {
    color: yellow;
}

audio {
    display: block;
    margin: auto;
}

.image {
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.caption {
    font-family: "Times New Roman", serif;
    text-align: center;
}

.musicTitle {
    color: gray;
    font-size: 0.875rem;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    p {
        width: 65%;
    }
}

@media only screen and (max-width: 600px) {
    p {
        width: 90%;
    }
}
