.bioLeft, .bioRight {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: flex;
}

.bioLeft {
    flex-direction: row;
}

.bioRight {
    flex-direction: row-reverse;
}

.bioLeft img, .bioRight img {
    margin: 0;
}

.bioLeft p, .bioRight p {
    width: 100%;
}

.bioLeft p {
    margin-left: 2em;
    margin-right: 0;
}

.bioRight p {
    margin-left: 0;
    margin-right: 2em;
    text-align: right;
}

.attribution {
    color: gray;
}